<div class="container-fluid">
    <h2>Debt Snowball Calculator</h2>

    <formly-form model="vm.model" fields="vm.fields" form="vm.form">
        <button type="submit" ng-disabled="vm.form.$invalid">Submit</button>
    </formly-form>
</div>

